body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .filepond--root,
.filepond--root .filepond--drop-label {
  height: 240px;
} */
.filepond--drop-label {
  background-color: #ecf7e9;
  height: 240px !important;
}

.filepond--root * {
  flex: 1;
  padding: 0 4px;
}
